.blog-detail-wrap {
    overflow: hidden;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 15%);
}

@media screen and (max-width: 1060px) {
    .blog-detail-wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.blog-detail-header-wrap {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 15%);
}

.blog-detail-header-meta {
    display: flex;
    padding: 10px;
}

.blog-detail-header-date {
    padding: 0 10px;
}

.blog-detail-header-user {
    padding: 0 10px;
}

.blog-detail-header-control {
    display: flex;
    padding: 10px;
}

.blog-detail-content-wrap {
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 15%);
    min-height: 512px;
    margin : 10px 0;
}

.blog-detail-title {
    padding: 15px 10px;
    font-size : 24px;
    font-weight: 700;
    border-bottom: #000000 1px solid;
}

.blog-detail-content {
    padding: 15px 10px;
}

.blog-detail-vote-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}

.blog-detail-vote-cnt {
    border: #000000 1px solid;
    padding: 13px 20px;
}

.blog-detail-vote-btn {
    color: #ffffff;
    background-color: #000000;
    padding: 13px 20px;
}

.blog-detail-editor-wrap {
    display: flex;
    margin-bottom: 15px;
}

.blog-detail-editor {
    font-size: 16px;
    line-height: 23px;
    width: 90%;
    min-height: 70px;
    overflow-y: scroll;
    resize: none;
    border-radius: 0px;
}

.blog-detail-editor-btn {
    color: #ffffff;
    background-color: #000000;
    padding: 23px 20px;
    justify-content: center;
    align-content: center;
}

.blog-detail-comment-container {
    display: flex;
    flex-direction: column;
}

.blog-detail-comment-item {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 15%);
    margin-bottom: 10px;
}

.blog-detail-comment-profile {
    display: flex;
    padding: 10px;
    border-bottom: #000000 1px solid;
}

.blog-detail-comment-icon > img{
    width: 50px;
    height: 50px;
}

.blog-detail-comment-user {
    padding: 13px 10px;
}

.blog-detail-comment-date {
    padding: 13px 10px;
}

.blog-detail-comment-content {
    padding: 10px;
}
