.signup-wrap {
    display: flex;
}

.signup {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    min-width: 480px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.signup-header {
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
    border-bottom: 3px solid #f0f0f0;
}

.signup-input {
    padding: 10px;
}

.signup-btn-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.signup-btn {
    background: #000000;
    border-radius: 4px;
    color: #ffffff;
}