<div class="info-bar">
    <div class="info-bar-left">
        <div class="info-id">@아이디</div>
        <div class="info-time">작성시간</div>
    </div>
    <div class="info-bar-right">
        <div class="info-modify">수정</div>
        <div class="info-delete">삭제</div>
    </div>
</div>
<div class="content">
    <div class="content-title">제목</div>
    <div class="content-writing">내용</div>
</div>
<div class="reaction">
    <div class="reaction-bar">
        <div class="reaction-heart">좋아요</div>
        <div class="reaction-comment">댓글</div>
    </div>
    <div class="reaction-content">
        <input type="text">
        <button>등록</button>
    </div>
</div>
<div class="reply-list">
    <div class="reply-list-items">
        <div class="reply-list-left">
            <div class="reply-list-profile">
                <img src="https://i.pinimg.com/736x/93/a6/8b/93a68b57a54e4bdc73d43d1d049b94b3.jpg" alt="유저 이미지">
            </div>
            <div class="reply-list-name">유저 이름</div>
            <div class="reply-list-time">작성시간</div>
        </div>
        <div class="reply-list-right">
            <div class="reply-list-modify">수정</div>
            <div class="reply-list-delete">삭제</div>
        </div>
    </div>
    <div class="reply-list-content">댓글 내용</div>