<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>

    <link rel="stylesheet" href="../static/signin.css" />
</head>
<body>
<section class="signin">
    <h1>로그인</h1>
    <div class="signin__card">
        <h2>Welcome! 이니로그에 오신 것을 환영합니다.</h2>
        <form>
            <input type="text" placeholder="아이디를 입력하세요." />
            <input type="password" placeholder="비밀번호를 입력하세요." />
            <input type="submit" value="로그인" />
        </form>
        <div class="actions">
            <a href="javascript:void(0)">회원가입</a>
            <a href="javascript:void(0)">아이디 찾기</a>
            <a href="javascript:void(0)">비밀번호 찾기</a>
        </div>
    </div>
</section>
</body>
</html>