<div class="setting-info">회원 정보 설정</div>
<div class="setting-profile">
    <div class="setting-profile-func">프로필 이미지</div>
    <div class="setting-profile-explain">
        프로필 이미지는 여러분을 표현하는 가장 첫 단계입니다.<br>
        여러분을 표현하는 프로필 이미지를 설정해보세요!
    </div>
    <button class="setting-profile-change">프로필 이미지 변경</button>
</div>
<div class="setting-pw">
    <div class="setting-pw-func">비밀번호 변경</div>
    <div class="setting-pw-explain">
        비밀번호 변경 단계입니다.
    </div>
    <button class="setting-pw-change">비밀번호 변경</button>
</div>
<div class="setting-secession">
    <div class="setting-secession-func">회원 탈퇴</div>
    <div class="setting-secession-explain">
        회원 탈퇴 페이지로 이동합니다.<br>
        회원 탈퇴 시 사용자의 모든 데이터는 삭제되고 탈퇴 후 3개월까지는 같은 이메일로 재가입할 수 없습니다.
    </div>
    <button class="setting-go-secession">회원 탈퇴</button>
</div>