<div th:fragment="sidebar" >
    <div class="sidebar-wrap">
        <div class="sidebar-profile-wrap">
            <img th:src="@{/img/profile.jpg}" alt="프로필사진">
            <div class="profile-id">아이디</div>
            <div class="profile-follow-wrap">
                <div class="profile-follow">
                    팔로워 <span> 0 </span>
                </div>
                <div class="profile-follow">
                    팔로잉 <span> 0 </span>
                </div>
            </div>
            <div class="sidebar-btn">팔로우</div>
        </div>
    </div>

</div>

