<html layout:decorate="~{layout}">
<div layout:fragment="content" class="signup-wrap">
  <div class="signup">
    <div class="signup-header">
      회원가입
    </div>
    <form th:action="@{/member/signup}" th:object="${memberCreateForm}" method="post">
      <div class="signup-input">
        <label for="username" class="form-label">사용자ID</label>
        <input type="text" th:field="*{userId}" class="form-control">
      </div>
      <div class="signup-input">
        <label for="password" class="form-label">비밀번호</label>
        <input type="password" th:field="*{password1}" class="form-control">
      </div>
      <div class="signup-input">
        <label for="password" class="form-label">비밀번호 확인</label>
        <input type="password" th:field="*{password2}" class="form-control">
      </div>
      <div class="signup-input">
        <label for="email" class="form-label">이메일</label>
        <input type="email" th:field="*{email}" class="form-control">
      </div>
      <div class="signup-btn-wrap">
        <button type="submit" class="signup-btn">회원가입</button>
      </div>
    </form>
  </div>
</div>
</html>